<section class="showcase" id="sec07">
  <div class="wrap">
    <div class="section-heading">
      <h2>制作できるページ例</h2>
      <p>Website Contents</p>
    </div>

    <div class="grid">
      <% items.each do |item| %>
        <article class="item">
          <p class="tag"><%= item[:tag] %></p>
          <p class="photo"><img src="<%= item[:image] %>" alt="<%= item[:alt] %>" width="900" height="600" /></p>
          <h3><%= item[:title] %></h3>
          <dl>
            <dt><%= item[:location] %></dt>
            <dd><%= item[:license] %></dd>
          </dl>
        </article>
      <% end %>
    </div>
  </div>
</section>
