<section class="simulation" id="sec08">
  <div class="wrap">
    <div class="section-heading">
      <h2>運営シミュレーション</h2>
      <p>Operational Simulation</p>
    </div>

    <div class="scroll">
      <div class="timeline">
        <% items.each do |item| %>
          <article class="item" style="--deco-image: url('https://athost.jp/shared/img/<%= item[:deco] %>')">
            <div class="title-row">
              <p class="number"><%= item[:number] %></p>
              <h3><%= item[:title] %></h3>
            </div>
            <div class="box">
              <div class="inner">
                <ul>
                  <% item[:entries].each do |image, label| %>
                    <li><img src="https://athost.jp/shared/img/<%= image %>" alt="icon" width="40" height="40" /><%= label %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </article>
        <% end %>
      </div>
    </div>
  </div>
</section>
