<section class="support" id="sec01">
  <div class="wrap">
    <div class="heading">
      <h2>充実のサポート内容</h2>
      <p>Support</p>
    </div>

    <ul class="grid">
      <% items.each do |item| %>
        <li class="item">
          <img src="https://athost.jp/shared/img/<%= item[:image] %>" alt="<%= item[:name] %>" width="<%= item[:width] %>" height="<%= item[:height] %>" />
          <span><%= item[:name] %></span>
        </li>
      <% end %>
    </ul>

    <h3><span>旅館業法</span>、<span>民泊新法</span>、<span>特区民泊</span><br class="sp" />、すべてお任せください！</h3>
  </div>
</section>
